<p>Karijes je infektivno i lako prenosivo oboljenje izazvano specifičnom bakterijskom infekcijom. On se javlja rano, često ubrzo posle nicanja, kao posledica lo&scaron;ih navika i neadekvatne ishrane. Pojavu karijesa u tom periodu potenciraju i određene te&scaron;koće u održavanju oralne higijene,kao i neobave&scaron;tenost roditelja o značaju mlečnih zuba i mogućnostima za očuvanje njihovog zdravlja.</p>
<p>Roditelji koji dovode decu na redovne stomatolo&scaron;ke kontrole odgajaju ljude koji neće imati zdravstvene tegobe vezane za usta i zube, i generacije koje neće poznavati strah od stomatologa.</p>
<p>Redovne stomatomatolo&scaron;ke kontrole treba da postanu navika deteta čim ono napuni dve godine, radi&nbsp; upoznavanja kako sa stomatologom,&nbsp; stomatolo&scaron;kom stolicom, okolinom, zvucima i mirisima ordinacije.</p>
<p>&nbsp;Veoma je važno da prva poseta stomatologu bude pozitivno iskustvo za Va&scaron;e dete i protekne prijatno. Najvažniju ulogu u pripremi Va&scaron;eg deteta imate ba&scaron; Vi. &nbsp;ZAPAMTITE, &nbsp;deca se ne rađaju sa strahom od stomatologa &ndash; već ga stiču kroz negativno iskustvo.</p>
<p><strong>Ono &scaron;to bi trebalo da uradite pre prve poste stomatologu :</strong></p>
<ul>
<li>Razgovarajte sa detetom na opu&scaron;ten način. Predstavite posetu stomatologu kao pozitivno i interesantno iskustvo za Vas da bi dete shvatilo da će tako biti i njemu.</li>
<li>Pričajte sa detetom na način koje će ono razumeti</li>
<li>Doktor će &bdquo;brojiti", &bdquo;prati" i &bdquo;slikati" zubiće. Objasnite tok pregleda tako će i dete da se pripremi</li>
<li>Igrajte se &bdquo;zubara" sa svojim detetom kod kuće. Prvo Vi budite &bdquo;zubar" i izbrojte mu zube, a onda dozvolite detetu da bude &bdquo;zubar".</li>
<li>Čitajte mu edukativne priče o odlasku kod stomatologa.</li>
<li>Neka dete bude odmorno kada zakažete posetu stomatologu</li>
<li>Neka dete zna da Vi rado posećujete stomatologa</li>
<li>Dajte dobar primer-perite svoje zube redovno i perite zube zajedno</li>
<li>Ako ste upla&scaron;eni i zabrinuti, Va&scaron;e dete će to osetiti, budite opu&scaron;teni i mirni</li>
<li>Nikako ne koristite odlazak kod stomatologa kao kaznu.</li>
<li>Ne dozvoljavajte da neko priča negativna iskustva o stomatolozima u prisustvu deteta.</li>
<li>Ne brinite ako Va&scaron;e dete bude plakalo tokom posete stomatologu, takva reakcija je normalna za malu decu kad se nađu u novoj situaciji</li>
</ul>
<p>Pričajte sa detetom nakon posete i podsetite ga koliko je bilo zabavno</p>
<p>Roditelji treba, kada posećuju stomatologa zbog svojih zuba, da sa sobom povedu i dete kako bi ličnim primerom uticali na pona&scaron;anje deteta u ordinaciji.</p>
<p>Mlečne zube treba popravljati, po&scaron;to je njihovo zdravlje veoma bitno za pravilan razvoj vilica. Njih pri tome treba tretirati isto kao i stalne.</p>
<p>Nelečeni kariozni mlečni zubi ili prevremeno izvadjeni mlečni zubi remete:</p>
<ul>
<li>normalnu funkciju žvakanja hrane</li>
<li>pravilnu fonaciju</li>
<li>estetiku</li>
<li>dovode do raznih ortdontskih anomalija zuba.</li>
</ul>
<p>Uspeh terapije karijesa mlečnih zuba je utoliko bolji, ukoliko se mali pacijent javi u ranijoj fazi oboljenja. Zbog toga su neophodne TROMESEČNE I &Scaron;ESTOMESEČNE KONTROLE KOD STOMATOLOGA.</p>
<p><strong>Cirkularni karijes</strong></p>
<p>Cirkularni karijes je posledica LO&Scaron;E BRIGE O DEČJIM ZUBIMA i preteranog opterećivanja &scaron;ećerima.</p>
<p>Proces cirkularnog karijesa uvek počinje na gornjim sekutićima, vrlo brzo se &scaron;iri na ostale zube u gornjoj vilici, a tek kasnije i na donju vilicu. To je i osnovna specifičnost u odnosu na klasični karijes koji najče&scaron;će počinje u jamicama i fisurama griznih povr&scaron;ina mlečnih molara. Isto tako napredovanje cirkularnog karijesa može da bude izuzetno brzo i već u roku od nekoliko nedelja od pojave belih mrlja, dolazi do razaranja zuba.</p>
<p>Odstranjivanje uzroka podrazumijeva prije svega uklanjanje lo&scaron;ih navika i promene režima ishrane. Prevencija je ono na čemu je najveći naglasak, jer je u toj dobi važno razvijati higijenske navike.</p>
<p>Verovatno znate da od zdravlja dečijih zuba zavise i razvoj vilice, razvoj govora, pravilna ishrana i sveukupno zdravlje deteta. To su vi&scaron;e nego dovoljni razlozi da bi se zdravlje zuba odmalena shvati &nbsp;kao ozbiljna i bitna stvar.</p>
<p><strong>Povrede zuba kod dece</strong></p>
<p>Ovo je jedan od glavnih problema u oblasti dečije stomatologije, a zbog česte pojave predstavlja stvaran i relativno ozbiljan problem. Učestalost zubnih trauma znatno varira, pa se pojedine starosne grupe opravdano mogu smatrati rizičnima za nastanak povrede, i to deca od druge do četvrte godine sa mlečnim zubima i od sedme do desete godine sa stalnim zubima. I kod ove pojave treba se javiti stomatologu odmah nakon uočavanje povrede.</p>
