<p>Zubni implantati su vrhunac savremene stomatologije kada se govori o zameni zubnog korena. Implantat služi kao temelj za izradu fiksne zubne nadoknade ili proteze zavisno od broja zuba koji nedostaju.</p>
<p>Kad se zub izgubi a ne nadomesti se, dolazi do postepenog gubitka kosti koja je držala zub. To se ne događa odmah već s vremenom i &scaron;to duže pacijent čeka to se vi&scaron;e kost tro&scaron;i po sirini i visini. To izaziva i funkcionalne i estetske probleme, posebno kod pacijenata koji su izgubili vi&scaron;e zuba.</p>
<p>Mogućnost nadoknade zuba koji nedostaje bez o&scaron;tećenja preostalih zuba danas svakako predstavlja vrhunac uspeha stomatologije.</p>
<p>Indikacije za ugradnju implanta mogu biti:</p>
<ul>
<li>nadoknada jednog zuba</li>
<li>nadoknada vi&scaron;e zuba</li>
<li>nadoknada svih izgubljenih zuba</li>
</ul>
<p>Osnovni preduslov za ugradnju implanta je postojanje dovoljne količine kvalitetne vilične kosti na mestu planiranje ugradnje. Ukoliko se pregledom i analizom rendgen snimaka ustanove nepovoljne dimenzije kosti, primenjuju se tehnike nadoknade (augmentacije) kosti savremenim biomaterijalima, nakon čega sledi postavljanje implanta.</p>
<p>Ugradnja implantata je rutinski zahvat, potpuno je bezbolan i radi se u lokalnoj anesteziji.</p>
<p>Posle ugradnje potreban je period mirovanja za koje vreme implant oseointegri&scaron;e (zarasta) u okolnoj kosti. Posle perioda zarastanja pristupa se izradi protetskog rada koji treba da obezbedi potpunu estetsku i funkcionalnu rehabilitaciju zubnog niza.</p>
