<div class="modal fade" id="{{ include.id }}-modal" tabindex="-1" role="dialog" aria-labelledby="{{ include.id }}ModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="{{ include.id }}ModalLabel">{{ treatment.title }}</h4>
      </div>
        <div class="modal-body text-justify">
          {% case include.id %}
            {% when 'antiaging' %}
              {% include antiaging.html %}
            {% when 'decija' %}
              {% include decija.html %}
            {% when 'cirkoni' %}
              {% include cirkoni.html %}
            {% when 'endo' %}
              {% include endo.html %}
            {% when 'implanti' %}
              {% include implanti.html %}
            {% when 'oralna' %}
              {% include oralna.html %}
            {% when 'ortodoncija' %}
              {% include ortodoncija.html %}
            {% when 'parodontologija' %}
              {% include parodontologija.html %}
            {% when 'plombe' %}
              {% include plombe.html %}
            {% when 'protetika' %}
              {% include protetika.html %}
            {% when 'pregled' %}
              {% include pregled.html %}
            {% when 'trudnoca' %}
              {% include trudnoca.html %}
            {% else %}
               Thank you for your order!
          {% endcase %}

        </div>
    </div>
  </div>
</div>
