<p>Ortodoncija je grana stomatologije koja se bavi ispravljanjem nepravilnog položaja zuba i medjuviličnih odnosa.</p>
<p>Dugo vremena se smatralo da su ortodontski aparati primarno namenjeni mladima.Ta praksa se danas promenila.Ortodontska terapija pokazuje pozitivne rezultate bez obzira na dob.</p>
<p>Osim lepseg osmeha koji doprinosi samopouzdanju,ortodoncija omogucava korekcije položaja zuba i zagriza te ujedno smanjuje rizik od gubitka istih.</p>
<p>Pravilnim položajem zuba olak&scaron;ava se či&scaron;ćenje te se smanjuje pojava karijesa,utiče se i na smanjenje tro&scaron;enja povr&scaron;ine zuba te na nepravilnosti u zglobu.</p>
<p>Rano otkrivanje poremećaja rasta i položaja zuba znatno olak&scaron;ava i skraćuje trajanje terapije.</p>
<p>Ortodontski aparati mogu biti:</p>
<ul>
<li>mobilni (pacijent može sam da skida i vraća aparat u usta)</li>
<li>fiksni (ne uklanja se do kraja terapije)</li>
</ul>
