<p>Parodontopatija je najče&scaron;ća hronična bolest kod čoveka.Ona zahvata ceo potporni aparat zuba u koji spadaju:gingiva,kost,cement korena zuba,parodontalni ligament.</p>
<p>Jedinstvena je po svojoj etiologiji jer je izazvana bakterijama koje su normalni stanovnici usne &scaron;upljine.</p>
<p>Postoje dva osnovna uzročnika:</p>
<ul>
<li>porast broja bakterija u ustima</li>
<li>slab imunolo&scaron;ki odgovor domaćina</li>
</ul>
<p>Tri su osnovna simptoma parodontopatije:</p>
<ul>
<li>crvene i otečene desni koje krvare</li>
<li>osetljivost zuba na nadražaje</li>
<li>produženje kliničke krune zuba uslovljeno povlacenjem desni</li>
</ul>
<p>Početak bolesti se manifestuje upalom desni tzv. gingivitisom,koji ukoliko se ne leči prelazi na druga tkiva te dolazi do stvaranja praznog prostora oko zuba tzv. dzepa.Kada dodje do potpunog razaranja tkiva dolazi do rasklaćenja i ispadanja zuba.</p>
<p>Prvi i osnovni korak u terapiji je celokupno či&scaron;ćenje plaka,kamenca i pigmentacija.</p>
<p>Potom sledi parodontolo&scaron;ki tretman.</p>
<p>Lečenje je trajno i doživotno,počinje preventivom i dobrom oralnom higijenom.</p>
