<p>Estetske (bele) kompozitne plombe su idealno re&scaron;enje ako želite postići potpuno prirodni izgleda zuba nakon o&scaron;tećenja. Poznatije su kao bele plombe.</p>
<p>Upotrebljavaju se u slučajevima kada nije potrebna velika obnova zubnog tkiva, a izrađuju se u ordinaciji tokom jedne posete.</p>
<p>Bele plombe se mogu upotrebljavati i u kozmetičke svrhe za promjenu veličine, boje i oblika zuba.</p>
<p>Koje su prednosti plombi :</p>
<ul>
<li>Približno odgovaraju prirodnoj boji i izgledu zuba</li>
<li>Hemijski se povezuju sa zubnom strukturom</li>
</ul>
<p>Estetski ispuni se najvi&scaron;e koriste kod sanacije:</p>
<ul>
<li>Karijesa</li>
<li>Fraktura krune zuba</li>
<li>Estetske korekcija boje i oblika zuba</li>
</ul>
<p>Redovni pregledi kod stomatologa su potrebni i zbog kontrole postojećih plombi. Često nismo niti svesni da nam je plomba o&scaron;tećena i da bi zbog toga moglo doći do propadanja zuba. Plombe se trebaju kontrolisati jer nisu večne, njihovo trajanje zavisi od mnogo faktora kao &scaron;to je materijal, kvalitet izrade,higijene,navika, i zato su kontrole bitne.</p>
