<p>Stomatolo&scaron;ka protetika je nauka koja se bavi nadoknadom zubnih tkiva, koja su iz različitih razloga izgubljena. Uzroci gubitka jednog ili vi&scaron;e zuba su mnogobrojni: karijes, oboljenja zubnog nerva (pulpe) i okolnog tkiva, povrede, parodontopatija, traumatski zagrižaj, abrazija, nepravilnosti u razvoju zubnih tkiva .</p>
<p>Nedostatak jednog ili vi&scaron;e zuba je veoma rasprostranjena pojava. Nedostajući zub ili vi&scaron;e zuba pored estetskih gotovo po pravilu izazivaju i niz drugih problema.</p>
<p>Nedostatak zuba uslovljava pomeranje preostalih zuba prema bezubom polju, njihovo naginjanje prema praznom prostoru, isplivavanje zuba prema bezubom polju suprotne vilice. Sve ovo uslovljava promenu u odnosu između vilica &scaron;to kasnije dovodi do promena i bolova u samom viličnom zglobu.</p>
<p>Savremena zubna protetika nam omogućava da pacijentima nadoknadimo izgubljene zube i u estetskom i u funkcionalnom smislu .</p>
<p>U skladu sa stanjem zuba svakog pacijenta i u skladu sa va&scaron;im željama, predlažemo i primenjujemo najbolja re&scaron;enja za svaki pojedinačni slučaj.</p>
<p><strong>Protetski radovi mogu da budu:</strong></p>
<ul>
<li>fiksni (mostovi)</li>
<li>mobilni (proteze)</li>
<li>kombinovani (mostovi i proteze)</li>
</ul>
<p><strong>Krunice i mostove delimo</strong> :</p>
<ul>
<li>metalo- keramičke krunice/mostove</li>
<li>bezmetalne ili potpuno keramičke krunice/mostove</li>
</ul>
<p>Metalo-keramičke krune su sve one krune kojima je baza napravljena od metala, a vidljivi sloj od keramike. Glavna prednost ovog materijala u odnosu na druge je u njegovoj pristupačnoj ceni.</p>
<p>Bezmetalne zubne krune su vrhunac moderne stomatologije te u zadnjih nekoliko godina postaju standard.</p>
<p><strong>Proteze mogu biti: </strong></p>
<ul>
<li>totalne</li>
<li>parcijalne(akrilatne,skeletirane,fleksibilne)</li>
</ul>
